.container {
  padding: 0.5rem;
  font-size: 0.825rem;
  color: var(--text-primary);
  width: 100%;
}

.container:hover {
  cursor: pointer;
  background-color: var(--bg-primary);
}

.active {
  color: var(--primary);
  font-weight: 700;
}
