:root {
  --primary: #37b04c;
  --error: #ff4141;
  --highlight: #d2d2d2;
  --text-primary: #707070c4;
  --bg-primary: #f7f7f7;
  --bg-white: #ffffff;
  --shadow: #00000029;
  --border: #d2d2d2;
  --border-light: #c5c5c59c;
  --card-title: #4d4f5c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
