.container {
  width: 4.5rem;
  background: #fff;
  border-right: 0.5px solid var(--border);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.menu {
  width: 2rem;
  height: 2rem;
  fill: #c5c5c5;
}
