.container {
  width: 100%;
  grid-row-start: 2;
  min-width: 275px;
}

.title {
  font-size: 1.25rem;
  color: var(--card-title);
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
